<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.soft1010.java.mysql.dao.UserDao">

    <select id="queryUserByName" resultType="cn.soft1010.java.mysql.model.User">
      select id,name,age,note from t_user where name = #{name,jdbcType=VARCHAR}
    </select>

</mapper>


